In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import os
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import re
import string
import warnings
warnings.filterwarnings("ignore")

In [2]:
data_frame_fake = pd.read_csv("Fake.csv")
data_frame_true = pd.read_csv("True.csv")

In [3]:
data_frame_fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
data_frame_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
data_frame_fake["class"] = 0
data_frame_true["class"] = 1

In [6]:
data_frame_fake.shape, data_frame_true.shape

((23481, 5), (21417, 5))

In [7]:
data_frame_fake_manual_testing = data_frame_fake.tail(10)
for i in range(23480,23470,-1):
    data_frame_fake.drop([i], axis = 0, inplace = True)
data_frame_true_manual_testing = data_frame_true.tail(10)
for i in range(21416,21406,-1):
    data_frame_true.drop([i], axis = 0, inplace = True)

In [8]:
data_frame_fake.shape, data_frame_true.shape

((23471, 5), (21407, 5))

In [9]:
data_frame_fake_manual_testing["class"] = 0
data_frame_true_manual_testing["class"] = 1

In [10]:
data_frame_true.head(5)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [11]:
data_frame_true_manual_testing.head(5)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [13]:
data_frame_manual_testing = pd.concat([data_frame_fake_manual_testing,data_frame_true_manual_testing], axis = 0)
data_frame_manual_testing.to_csv("manual_testing.csv")

In [14]:
data_frame_marge = pd.concat([data_frame_fake, data_frame_true], axis =0 )
data_frame_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data_frame_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
data_frame = data_frame_marge.drop(["title", "subject","date"], axis = 1)

In [17]:
data_frame.isnull().sum()

text     0
class    0
dtype: int64

In [18]:
data_frame = data_frame.sample(frac = 1)

In [19]:
data_frame.reset_index(inplace = True)
data_frame.drop(["index"], axis = 1, inplace = True)

In [20]:
data_frame.head(15)

                                                 text  class
0   NEW YORK (Reuters) - More than half of America...      1
1   BERLIN (Reuters) - Germany will need a new eco...      1
2   WASHINGTON (Reuters) - Republicans in the U.S....      1
3   US Border Agents and local law enforcement gav...      0
4   Baltimore City State s Attorney Marilyn Mosby ...      0
5   A New Campaign Video was just released from th...      0
6   MOSCOW (Reuters) - A draft law allowing Moscow...      1
7   This is what legendary newsman Dan Rather thin...      0
8   Our first black President of the United States...      0
9   BERLIN (Reuters) - Germany s spy chief has war...      1
10  Remember Combetta is Hillary s Oh Sh*t IT guy:...      0
11  MEXICO CITY (Reuters) - An indigenous woman ba...      1
12  The election of reality television star Donald...      0
13  Dear San Francisco Police Union: We wanted you...      0
14  (Reuters) - Hurricane Irma was churning toward...      1

In [22]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [23]:
data_frame["text"] = data_frame["text"].apply(word_drop)

In [24]:
data_frame.head(10)

                                                text  class
0  new york  reuters    more than half of america...      1
1  berlin  reuters    germany will need a new eco...      1
2  washington  reuters    republicans in the u s ...      1
3  us border agents and local law enforcement gav...      0
4  baltimore city state s attorney marilyn mosby ...      0
5  a new campaign video was just released from th...      0
6  moscow  reuters    a draft law allowing moscow...      1
7  this is what legendary newsman dan rather thin...      0
8  our first black president of the united states...      0
9  berlin  reuters    germany s spy chief has war...      1

In [25]:
data_frame.isnull().sum()

text     0
class    0
dtype: int64

In [26]:
x = data_frame["text"]
y = data_frame["class"]

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [35]:
pred_lr=LR.predict(xv_test)

In [36]:
LR.score(xv_test, y_test)

0.9870766488413547

In [37]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5870
           1       0.99      0.99      0.99      5350

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [38]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
GBC = GradientBoostingClassifier(random_state = 0)
GBC.fit(xv_train, y_train)

In [ ]:
pred_gbc = GBC.predict(xv_test)

In [ ]:
LR.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_gbc))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
DTC = DecisionTreeClassifier(random_state = 0)

In [ ]:
DTC.fit(xv_test, y_test)

In [ ]:
pred_dtc = DTC.predict(xv_test)

In [ ]:
DTC.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_dtc))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
RFC = RandomForestClassifier()

In [ ]:
RFC.fit(xv_test, y_test)

In [ ]:
pred_rfc = RFC.predict(xv_test)

In [ ]:
RFC.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_rfc))